<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AppWeb Oficina</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <!--CSS-->
        <link th:href="@{/css/peca/peca.css}" rel="stylesheet" />
        <link th:href="@{/css/reset.css}" rel="stylesheet" />
        <link th:href="@{/css/container.css}" rel="stylesheet" />
        <link th:href="@{/css/cursos.css}" rel="stylesheet" />

    </head>
    <body>
        <div class="peca container" layout:fragment="content">

            <div class="divBt-peca">
                <a href="/editPeca" class="btn btn-dark btn-lg divBt">Nova Peça</a>
            </div>

            <h2 class="name-table">Listas de Pecas</h2>

            <form class="form-pesquisa" th:action="@{/pagePeca/1}">
                <input type="hidden" name="sortField" th:value="${sortField}"/>
                <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                Filtro: <input type="text" name="keyword" id="keyword" size="30" th:value="${keyword}" required />
                &nbsp;
                <input type="submit" value="Pesquisar" />
                &nbsp;
                <input type="button" value="Limpar" id="btnClear" onclick="clearSearch()" />
            </form>

            <script type="text/javascript">
                function clearSearch() {
                    window.location = "[[@{/pecas}]]";
                }
            </script>

            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="thTable">
                            <a th:href="@{'/pagePeca/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Id</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pagePeca/' + ${currentPage} + '?sortField=descricao&sortDir=' + ${reverseSortDir}}">Descricao</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pagePeca/' + ${currentPage} + '?sortField=dataCompra&sortDir=' + ${reverseSortDir}}">Data da Compra</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pagePeca/' + ${currentPage} + '?sortField=preco&sortDir=' + ${reverseSortDir}}">Preco</a>
                        </th>  
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="peca : ${listPecas}">
                        <td th:text="${peca.id}">id</td>
                        <td th:text="${peca.Descricao}">Descricao</td>
                        <td th:text="${#dates.format(peca.dataCompra, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${peca.preco}">preco</td>
                        <td>
                            <a th:href="@{/editPeca{id}(id=${peca.id})}" class="btn btn-dark">
                                <i class="fas fa-user-edit ml-2"></i>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/deletePeca/{id}(id=${peca.id})}" class="btn btn-dark">
                                <i class="fas fa-user-times ml-2"></i>
                            </a>
                        </td>
                </tbody>
            </table>
        </div>
    </body>
</html>
