<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AppWeb Oficina</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--CSS-->
        
        <link rel="stylesheet" href="css/relatorios/relatorio.css">
    </head>
    <body>
        <div class="peca container" layout:fragment="content">
            <h1 class="h1-relatorio">APP WEB OFICINA</h1>
            <h2 class="h2-relatorio">Relatório de Peças</h2>

            <table class="table-relatorio">
                <thead class"td-relatorio">
                    <tr>
                        <th class="th-id">Id</th>
                        <th class="th-table">Descricao</th>
                        <th class="th-table">Data da Compra</th>                        
                        <th class="th-table">Preco</th>                      
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="peca : ${relatorioPecas}">
                        <td th:text="${peca.id}">id</td>
                        <td th:text="${peca.Descricao}">Descricao</td>
                        <td th:text="${#dates.format(peca.dataCompra, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${peca.preco}">preco</td> 
                </tbody>
            </table>

        </div>

    </body>
</html>
