.peca{
    padding-bottom: 4em;
}
.divBt-peca{
    padding-top: 5em;
}
.thTable{
    color: white;
    background-color: #696969;
}
.h2-peca{
    font-size: 1.5em;
    padding-left: 50%;
    padding-top: 1em;
    padding-bottom: .5em;
    color: #696969;
}
.box-Principal-Peca{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}
.boxLoginPeca{
    border-top:solid .1em;
    border-bottom:solid .1em;
    border-color: #696969;
    height: 40em;
    width: 100%;
}
.h3-peca{
    padding-top: 2em;
    padding-bottom: 1em;
    size: 1em;
    text-align: center;
    color: #696969;

}
.form-peca{
    height: 3em;
    width: 30em;
    margin-top: 1em;
    border-radius:5px;
    border:solid .1em;
    border-color: #696969;
    box-shadow: 2px 2px 2px 1px #696969;
    padding-left: 5%; 
    font-size: 1em;
}
.btn{
    background-color: #696969;
    color: #FFFFFF;
}
.divBottom{
    height: 5em;
}
.bt-subimit{
    margin-top: 2em;
    padding-left: 5%;
}


@media(max-width:800px){
    .box-Principal-Peca{
        padding-top: 0;
    }
     .bt-subimit{
        margin-top: 1em;
    }
    .form-peca{
        width: 20em;

    }
}

