<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link rel="stylesheet" href="css/cursos.css">
        <link rel="stylesheet" href="css/carros/carros.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/footerNew.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/container.css">
      
    </head>

    <body>
        <div class="carros container" layout:fragment="content">
            <div class="divBt-car">
                <a href="/edit" class="btn btn-dark btn-lg divBt">
                    Add New Car</a>
            </div>
            <h2 class="h2-car">List of Cars</h2>

            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="thTable">Id</th>
                        <th class="thTable">Modelo</th>
                        <th class="thTable">Marca</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="carro : ${carros}">
                        <td th:text="${carro.id}">id</td>
                        <td th:text="${carro.modelo}">modelo</td>
                        <td th:text="${carro.marca}">marca</td>
                                               <td>
                                                    <a th:href="@{/edit{id}(id=${carro.id})}" class="btn btn-dark">
                                                        <i class="fas fa-user-edit ml-2"></i>
                                                    </a>
                                                </td>
                                               
                                                <td>
                                                    <a th:href="@{/delete/{id}(id=${carro.id})}" class="btn btn-dark">
                                                        <i class="fas fa-user-times ml-2"></i>
                                                    </a>
                                                </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>