<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link th:href="@{/css/carros/carros.css}" rel="stylesheet" />
        <link th:href="@{/css/reset.css}" rel="stylesheet" />
        <link th:href="@{/css/container}" rel="stylesheet" />
        <link th:href="@{/css/cursos.css}" rel="stylesheet" />

    </head>

    <body>
        <div class="carros container" layout:fragment="content">
            <div class="divBt-car">
                <a href="/edit" class="btn btn-dark btn-lg divBt">Novo Carro</a>
            </div>
            <h2 class="name-table">Lista de Carros</h2>

            <form class="form-pesquisa" th:action="@{/pageCarro/1}">
                <input type="hidden" name="sortField" th:value="${sortField}"/>
                <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                Filtro: <input type="text" name="keyword" id="keyword" size="30" th:value="${keyword}" required />
                &nbsp;
                <input type="submit" value="Pesquisar" />
                &nbsp;
                <input type="button" value="Limpar" id="btnClear" onclick="clearSearch()" />
            </form>

            <script type="text/javascript">
                function clearSearch() {
                    window.location = "[[@{/carros}]]";
                }
            </script>

            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="thTable">
                            <a th:href="@{'/pageCarro/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Id</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pageCarro/' + ${currentPage} + '?sortField=modelo&sortDir=' + ${reverseSortDir}}">Modelo</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pageCarro/' + ${currentPage} + '?sortField=marca&sortDir=' + ${reverseSortDir}}">Marca</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pageCarro/' + ${currentPage} + '?sortField=ano&sortDir=' + ${reverseSortDir}}">Ano</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pageCarro/' + ${currentPage} + '?sortField=chassi&sortDir=' + ${reverseSortDir}}">Chassi</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pageCarro/' + ${currentPage} + '?sortField=Renavan&sortDir=' + ${reverseSortDir}}">Renavan</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pageCarro/' + ${currentPage} + '?sortField=cor&sortDir=' + ${reverseSortDir}}">Cor</a>
                        </th>
                        <th class="thTable">
                            <a th:href="@{'/pageCarro/' + ${currentPage} + '?sortField=combustivel&sortDir=' + ${reverseSortDir}}">Combustivel</a>
                        </th>

                    </tr>
                </thead>

                <tbody>
                    <tr th:each="carro : ${listCarro}">
                        <td th:text="${carro.id}">Id</td>
                        <td th:text="${carro.modelo}">Modelo</td>
                        <td th:text="${carro.marca}">Marca</td>        
                        <td th:text="${carro.ano}">Ano</td>
                        <td th:text="${carro.chassi}">Chassi</td>
                        <td th:text="${carro.Renavan}">Renavan</td>
                        <td th:text="${carro.cor}">Bairro</td>
                        <td th:text="${carro.combustivel}">Cor</td>
                        <td>
                            <a th:href="@{/edit{id}(id=${carro.id})}" class="btn btn-dark">
                                <i class="fas fa-user-edit ml-2"></i>
                            </a>
                        </td>

                        <td>
                            <a th:href="@{/delete/{id}(id=${carro.id})}" class="btn btn-dark">
                                <i class="fas fa-user-times ml-2"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>&nbsp;</div>
            <div><i>Ordenar pelo [[${sortField}]] em [[${sortDir}]] order</i></div>
            <div>&nbsp;</div>
            <div class="menu-paginas" th:if="${totalPages > 1}">
                Total Itens: [[${totalItems}]]
                &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

                <a th:if="${currentPage > 1}" th:href="@{'/pageCarro/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Primeira</a>
                <span th:unless="${currentPage > 1}">Primeira</span>
                &nbsp;&nbsp;

                <a th:if="${currentPage > 1}" th:href="@{'/pageCarro/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Anterior</a>
                <span th:unless="${currentPage > 1}">Anterior</span>

                &nbsp;&nbsp;

                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{'/pageCarro/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                    &nbsp;
                </span>

                <a th:if="${currentPage < totalPages}" th:href="@{'/pageCarro/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Proxima</a>
                <span th:unless="${currentPage < totalPages}">Proxima</span>
                &nbsp;&nbsp;

                <a th:if="${currentPage < totalPages}" th:href="@{'/pageCarro/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Ultima</a>
                <span th:unless="${currentPage < totalPages}">Ultima</span>
            </div>

        </div>

    </body>
</html>