<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/cursos.css">
        <link rel="stylesheet" href="css/container.css">

    </head>

    <body>
        <div layout:fragment="content">
            <div class:cursos>
                <div>
                    <ul	class="cursos__lista">
                        <li class="curso--notasservico"> <a href="#">Clientes</a> </li>
                        <li class="curso--violaoguitarra"> <a href="#">Carro</a> </li>
                        <li class="curso--audio"> <a href="#">Contas a Pagar</a> </li>
                        <li class="curso--teoria"> <a href="#">Pecas</a> </li>
                        <li class="curso--teoria"> <a href="#">Mecanico</a> </li>
                        <li class="curso--baixo"> <a href="#">Contas a Receber</a> </li>                  
                        <li class="curso--bateria curso--destaque"> <a href="#">Notas de Servico</a> </li>
                        <li class="curso--canto curso--destaque2"> <a href="#">Configurações</a> </li>	


                    </ul>
                </div>
            </div>
        </div>

    </body>
</html>