<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>App Web Oficina</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>

    <body>
        <div layout:fragment="content">
           <footer>
        <div class="footerNew">
            <ul>
                <li>  <a th:href="@{https://www.instagram.com/jonasmachado01/}">
                        <img class="icon-midias-sociais" src="img/instagram.png"> 
                    </a></li>
                <li>  <a th:href="@{https://www.linkedin.com/in/jonas-machado-2a29a741/}">
                        <img class="icon-midias-sociais" src="img/linkedin.png">
                    </a></li>
                <li> <a th:href="@{https://github.com/jonasmachados}">
                        <img class="icon-midias-sociais" src="img/git.png"> 
                    </a></li>
                <li><p class="pFooter">Developed by Jonas Machado</p> </li>
            </ul> 

        </div>
    </footer>
        </div>

    </body>
    
    
</html>