<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AppWeb Oficina</title>
        <!-- Css -->
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/footerNew.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/container.css">

    </head>

    <header>
        <input type="checkbox" id="bt_menu"> 
        <label for="bt_menu">&#9776;</label>

        <nav class="menu">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li>
                    <a href="#">Modulos</a>
                    <ul>
                        <li><a th:href="@{/carros}">Carros</a></li>
                        <li><a th:href="@{/mecanicos}">Mecanicos</a></li>
                        <li><a th:href="@{/pecas}">Pecas</a></li>
                        <li><a th:href="@{/notasServico}">Notas de Servicos</a></li>
                        <li><a href="#">Contas a Pagar</a></li>
                        <li><a href="#">Contas a Receber</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#">Cadastros</a>
                    <ul>
                        <li><a href="#">Clientes</a></li>
                        <li><a th:href="@{/edit}">Carros</a></li>
                        <li><a th:href="@{/editMecanico}">Mecanicos</a></li>
                        <li><a th:href="@{/editPeca}">Pecas</a></li>
                        <li><a th:href="@{/editNFe}">Notas de Servicos</a></li>
                    </ul>
                </li>

                <!--                <ul class="menu clearfix">-->
                <li><a href="#">Relato</a>
                    <!-- Nível 1 -->
                    <!-- submenu -->
                    <ul class="sub-menu">
                        <li><a href="#">Carros</a>
                            <!-- Nível 2 -->
                            <!-- submenu do submenu -->
                            <ul class="sub-menu">
                                <li><a href="#">Carros PDF</a></li>
                                <li><a href="#">Carros HTML</a></li>
                            </ul><!-- submenu do submenu -->
                        </li>

                    </ul>


                </li>




                <li>
                    <a href="#">Relatorios</a>

                    <ul class="sub-menu">
<!--REPORT OF PARTS-->
                        <li><a href="#">Peças</a>
                            <ul class="sub-menu">
                                <li><a href="#">Pecas PDF</a></li>
                                 <li><a th:href="@{/relatorioPecas}">Pecas HTML</a></li>
                            </ul>
                        </li>
                        <!--REPORT OF MECHANIC-->
                        <li><a href="#">Mecanico</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/relatorioMecanicos}">Mecanicos PDF</a></li>
                                 <li><a href="#">Mecanicos HTML</a></li>
                            </ul>
                        </li> 
                        <!--REPORT OF CAR-->
                        <li><a href="#">Carro</a>
                            <ul class="sub-menu">
                                <li><a href="#">Carro PDF</a></li>
                                 <li><a href="#">Carro HTML</a></li>
                            </ul>
                        </li> 
                        <!--REPORT OF NFE-->
                        <li><a href="#">Notas de Servico</a>
                            <ul class="sub-menu">
                                <li><a href="#">NFE PDF</a></li>
                                 <li><a href="#">NFE HTML</a></li>
                            </ul>
                        </li> 
                        <li><a href="#">Servicos por Oficina</a></li>
                        <li><a href="#">Servicos por Carro</a></li>
                        <li><a href="#">Servicos por Mecanicos</a></li>
                    </ul>
                </li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav> 
    </header>

    <body>

        <div layout:fragment="content">content falso</div>

    </body>

    <footer>
        <div class="footerNew">
            <ul class="ulFooter">
                <li>  <a th:href="@{https://www.instagram.com/jonasmachado01/}">
                        <img class="icon-midias-sociais" src="img/instagram.png"> 
                    </a></li>
                <li>  <a th:href="@{https://www.linkedin.com/in/jonas-machado-2a29a741/}">
                        <img class="icon-midias-sociais" src="img/linkedin.png">
                    </a></li>
                <li> <a th:href="@{https://github.com/jonasmachados}">
                        <img class="icon-midias-sociais" src="img/git.png"> 
                    </a></li>
                <li><p class="pFooter">Developed by Jonas Machado</p> </li>

            </ul> 

        </div>
    </footer>
</html>
