.nfe{
    padding-bottom: 4em;
}
.divBt-nfe{
    padding-top: 5em;
}
.thTable{
    background-color: #696969;
    color: white;
}
.h2-nfe{
    font-size: 1.5em;
    padding-left: 40%;
    padding-top: 1em;
    padding-bottom: .6em;
    color: #696969;
}
.box-Principal-Nfe{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
}
.boxLoginNFe{
    border-top:solid .1em;
    border-bottom:solid .1em;
    border-color: #696969;
    height: 28em;
    width: 100%;
}
.h3-nfe{
    padding-top: 2em;
    padding-bottom: 1em;
    size: 1em;
    text-align: center;
    color: #696969;

}
.form-nfe{
    height: 3em;
    width: 30em;
    margin-top: 1em;
    border-radius:5px;
    border:solid .1em;
    border-color: #696969;
    box-shadow: 2px 2px 2px 1px #696969;
    padding-left: 5%; 
    font-size: 1em;
}
.btn{
    background-color: #696969;
    color: #FFFFFF;
}
.divBottom{
    height: 5em;
}
.bt-subimit{
    margin-top: 2em;
    padding-left: 5%;
}
.p-select{
    width: 30em;
    margin-top: 1em;
    margin-bottom: .5em;
    padding-left: 5%; 
    font-size: 1em;
}
.select{
    height: 3em;
    width: 20em;
    border-radius:5px;
    border:solid .1em;
    border-color: #696969;
    box-shadow: 2px 2px 2px 1px #696969;
    padding-left: 5%; 
    margin-left: 5%;
    font-size: 1em;
}

@media(max-width:800px){
    .box-Principal-NFe{
        padding-top: 0;
    }
    .th-nfe{
        display:none;
    }
    .boxLoginNFe{
        width: 20em;
        height: 26em;
    }
    .form-nfe{
        width: 20em;

    }
    .bt-subimit{
        margin-top: 1em;
    }
}

