.carro{
    padding-bottom: 4em;
}
.divBt-car{
    padding-top: 5em;
}
.thTable{
    color: white;
    background-color: #696969;
}
.h2-car{
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    color: #696969;
}
.box-Principal-Carro{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}
.boxLoginBook{
    border-top:solid .1em;
    border-bottom:solid .1em;
    border-color: #696969;
    height: 40em;
    width: 100%;
}
.h3-car{
    padding-top: 2em;
    padding-bottom: 1em;
    size: 1em;
    text-align: center;
    color: #696969;

}
.form-car{
    height: 3em;
    width: 30em;
    margin-top: 1em;
    border-radius:5px;
    border:solid .1em;
    border-color: #696969;
    box-shadow: 2px 2px 2px 1px #696969;
    padding-left: 5%; 
    font-size: 1em;
}
.btn{
    background-color: #696969;
    color: #FFFFFF;
}
.divBottom{
    height: 5em;
}
.bt-subimit{
    margin-top: 2em;
    padding-left: 5%;
}

@media(max-width:800px){
    .box-Principal-Carro{
        padding-top: 0;
    }
    .th-car{
        display:none;
    }
    .boxLoginCar{
        width: 20em;
        height: 26em;
    }
    .form-car{
        width: 20em;

    }
    .bt-subimit{
        margin-top: 1em;
    }
}

