<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AppWeb Oficina</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link rel="stylesheet" href="css/nfe/nfe.css">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/container.css">

    </head>
    <body>
        <div class="nfe container" layout:fragment="content"> 

            <div class="divBt-nfe">
                <a href="/editNFe" class="btn btn-dark btn-lg divBt">
                    Add NFe</a>
            </div>

            <h2 class="h2-nfe">List of NFe</h2>

            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="thTable">Id</th>
                        <th class="thTable">Descricao</th>
                        <th class="thTable">Preço</th>
                        <th class="thTable">Data de Servico</th>
                        <th class="thTable">KM</th>
                        <th class="thTable">Mecanico</th>
                        <th class="thTable">Carro</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="notaServico : ${notasServico}">
                        <td th:text="${notaServico.id}">id</td>
                        <td th:text="${notaServico.descricao}">descricao</td>
                        <td th:text="${notaServico.preco}">id</td>
                        <td th:text="${#dates.format(notaServico.dataServico, 'dd-MMM-yyyy')}">id</td>
                        <td th:text="${notaServico.km}">km</td>
                        <td th:text="${notaServico.mecanico.razaoSocial}">km</td>
                        <td th:text="${notaServico.carro.modelo}">km</td>
                        <td>
                            <a th:href="@{/editNFe{id}(id=${notaServico.id})}" class="btn btn-dark">
                                <i class="fas fa-user-edit ml-2"></i>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/deleteNFe/{id}(id=${notaServico.id})}" class="btn btn-dark">
                                <i class="fas fa-user-times ml-2"></i>
                            </a>
                        </td>
                </tbody>
            </table>

        </div>
    </body>
</html>
